p {
  font-family: Roboto, Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

body{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: transparent;  
}